<%= render(layout: 'common/frame') do %>
  <%= form_for(@user) do |f| %>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <label for="user_email">Email address *</label>
        <%= f.email_field(:email, class: 'form-control', required: true) %>
      </div>
      <div class="form-group col-sm-6">
        <label for="user_password">Enter password *</label>
        <%= f.password_field(:password, class: 'form-control', required: true) %>
      </div>
      <div class="form-group col-sm-6">
        <label for="user_password_confirmation">Confirm password *</label>
        <%= f.password_field(:password_confirmation, class: 'form-control', required: true) %>
      </div>
      <div class="form-group col-sm-6">
        <label for="user_first_name">First name</label>
        <%= f.text_field(:first_name, class: 'form-control') %>
      </div>
      <div class="form-group col-sm-6">
        <label for="user_last_name">Last name</label>
        <%= f.text_field(:last_name, class: 'form-control') %>
      </div>
    </div>
    <%= f.submit('Create Account', class: 'btn btn-primary') %>
    <%= link_to('Sign In', new_session_url, class: 'btn btn-link') %>
  <% end %>
<% end %>
