<div class="row">
  <%= form_tag(nil, method: 'GET', class: 'form-inline col mt-2') do %>
    <%= date_field_tag(:date, @events.where_values_hash['date'] || Date.current, class: 'form-control mb-2 mr-sm-2') %>
    <%= submit_tag('Filter', class: 'btn btn-outline-secondary mb-2') %>
  <% end %>
</div>
<div class="row">
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th></th>
    </tr>
    <% @events.each do |event| %>
      <tr id="event-<%= event.id %>">
        <td><%= l(event.date, format: :long) %></td>
        <td><%= l(event.time.to_time, format: :time) %></td>
        <td><%= event.description %></td>
        <td class="text-right">
          <% if policy(event).update? %>
            <%= link_to('Edit', edit_event_url(event, page: @events.current_page), class: 'btn btn-sm btn-link') %>
          <% end %>
          <% if policy(event).destroy? %>
            <%= link_to('Delete', event_url(event), class: 'btn btn-sm btn-link', method: 'DELETE') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="row justify-content-center">
  <div class="col-sm-auto">
    <%= paginate(@events, theme: 'twitter-bootstrap-4') %>
  </div>
</div>
