<!DOCTYPE html>
<html>
  <head>
    <title>Timekeep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'chartkick', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbar_nav">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to('My Stats', user_stats_url(current_user), class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to('My Events', user_events_url(current_user), class: 'nav-link') %>
            </li>
          <% end %>
          <% if policy(Event).create? %>
            <li class="nav-item">
              <%= link_to('Log Event', new_event_url(date: @date), class: 'nav-link') %>
            </li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <%=
            link_to_if(current_user, 'Log Out', session_url, class: 'btn btn-outline-secondary', method: 'DELETE') do
              link_to('Sign In', new_session_url, class: 'btn btn-outline-secondary')
            end
          %>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
